
server:
  port: 8082


spring:
  application:
    name: demo-eureka-client-b

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true # Optional, for preferring IP address in registration
